---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <h1>Yolo</h1>
</MainLayout>

<style>
  h1 {
		font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
		font-size: 48px;
  }
</style>
