---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-between p-10 mx-auto bg-footerLight bg-cover bg-center">
  <div class="">
    <p>&copy; {currentYear} Devin Jaggernauth</p>
  </div>
  <p class="flex justify-between gap-4">
    <a href="https://twitter.com/me"> Twitter</a>
    <a href="https://github.com/me"> GitHub</a>
    <a href="https://codepen.io/me"> CodePen</a>
  </p>
</footer>
