---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-between p-10 mx-auto bg-footerLight bg-cover bg-center">
  <div class="">
    <p>&copy; {currentYear} Devin Jaggernauth</p>
  </div>
  <p class="flex justify-between gap-4">
    <a href="https://twitter.com/mentalcaries" target="_blank" rel="noreferrer"> Twitter</a>
    <a href="https://github.com/mentalcaries" target="_blank" rel="noreferrer"> GitHub</a>
    <a href="https://linkedin.com/in/devin-jaggernauth" target="_blank" rel="noreferrer"> LinkedIn</a>
  </p>
</footer>
