---
---

<header class="flex justify-around items-center mt-10">
  <div class="w-96">
    <h1 class="text-6xl font-bold">
      Hello world, my name is <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-blue-900"
        >Devin Jaggernauth</span
      >
    </h1>
    <p class="font-body">This is a test of the new fonts</p>
  </div>
  <img class="w-72 h-auto rounded-3xl"
    src="/assets/images/profile.jpg"
    alt="Devin Jaggernauth smiling, wearing a blue shirt with arms crossed"
  />
</header>
